* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

@font-face {
  font-family: "Tiempos Text";
  src: url("../assets/Klim Type - Tiempos Text (Regular).otf");
  font-weight: normal;
  font-style: regular; }

@font-face {
  font-family: "Theinhardt";
  src: url("../assets/Optimo - Theinhardt (Regular).otf");
  font-weight: normal;
  font-style: regular; }

body {
  font-size: 2vw;
  background: #EBEBEB;
  color: #3E3E3E; }

nav {
  display: none;
  height: 100vh;
  background: #3E3E3E;
  font-size: 1.33333vw;
  font-family: "Theinhardt"; }
  nav a {
    color: #EBEBEB;
    text-decoration: none; }

#horisontal-container {
  position: relative;
  height: 100vh; }

#horisontal-scroll {
  position: sticky;
  display: flex;
  flex-flow: row nowrap;
  width: 2600vw;
  height: 100vh; }

header, .intropage {
  background: #3E3E3E;
  color: #EBEBEB;
  width: 100vw;
  height: 100vh;
  position: sticky; }

.intropage {
  z-index: 1; }

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 2vw; }

.slide {
  width: 100vw;
  height: 100vh;
  background: #EBEBEB;
  position: sticky;
  left: 0;
  box-shadow: -10em -1em 10em #EBEBEB; }

h1, h2, h3 {
  font-family: "Theinhardt"; }

h1 {
  position: relative;
  width: 100%; }
  h1:nth-child(1) {
    font-size: 10vw;
    animation: moveRightLeft 2s ease-in-out backwards 3.8s; }
  h1:nth-child(2) {
    font-size: 7vw;
    animation: moveLeftRight 2s ease-in-out backwards 4.5s; }
  h1:nth-child(3) {
    font-size: 14vw;
    animation: moveRightLeft 2s ease-in-out backwards .5s; }
  h1:nth-child(4) {
    font-size: 9vw;
    animation: moveLeftRight 2s ease-in-out backwards 2s; }
  h1:nth-child(5) {
    font-size: 4vw;
    text-align: right;
    animation: moveRightLeft 3s ease-in-out backwards 4.8s; }

@keyframes moveRightLeft {
  from {
    left: 105%; }
  to {
    left: 0%; } }

@keyframes moveLeftRight {
  from {
    left: -100%; }
  to {
    left: 0%; } }

@keyframes fadeInText {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

h2, p {
  padding-top: 15%;
  padding-left: 5%; }

h2 {
  font-size: 6vw; }

h3 {
  font-size: 1.5vw;
  color: #A0A0A0;
  padding-top: 3.33333%;
  padding-left: 5%; }

#h3-catalog {
  padding-left: 12%; }
