body
	font-size: $font-size
	background: $color-light
	color: $color-dark

nav
	display: none
	height: 100vh
	background: $color-dark
	font-size: $font-size / 1.5
	font-family: $title

	a
		color: $color-light
		text-decoration: none

#horisontal-container
	position: relative
	height: 100vh

#horisontal-scroll
	position: sticky
	display: flex
	flex-flow: row nowrap
	width: 2600vw
	height: 100vh
		
header, .intropage
	background: $color-dark
	color: $color-light
	width: $width
	height: $height
	position: sticky

.intropage
	z-index: 1

header
	display: flex
	flex-flow: column nowrap
	justify-content: space-between
	padding: 2vw

.slide
	width: 100vw
	height: 100vh
	background: $color-light
	position: sticky
	left: 0
	box-shadow: -10em -1em 10em $color-light

h1, h2, h3
	font-family: $title		

h1 
	position: relative
	width: 100%

	&:nth-child(1)
		font-size: $h1-size
		animation: moveRightLeft 2s ease-in-out backwards 3.8s

	&:nth-child(2)
		font-size: $h1-size * 0.7
		animation: moveLeftRight 2s ease-in-out backwards 4.5s

	&:nth-child(3)
		font-size: $h1-size * 1.4
		animation: moveRightLeft 2s ease-in-out backwards .5s
	
	&:nth-child(4)
		font-size: $h1-size * 0.9
		animation: moveLeftRight 2s ease-in-out backwards 2s

	&:nth-child(5)
		font-size: $h1-size * 0.4
		text-align: right
		animation: moveRightLeft 3s ease-in-out backwards 4.8s	

@keyframes moveRightLeft
	from
		left: 105%

	to
		left: 0%

@keyframes moveLeftRight
	from
		left: -100%

	to
		left: 0%


@keyframes fadeInText
	0%
		opacity: 0
	100%
		opacity: 1

h2, p
	padding-top: $padding * 1.5
	padding-left: $padding / 2

h2
	font-size: $h2-size

h3
	font-size: $h3-size
	color: $h3-color
	padding-top: $padding / 3
	padding-left: $padding / 2

#h3-catalog
	padding-left: $padding * 1.2